flask
flask-cors
flask-jwt-extended
pymongo
numpy
opencv-python
mediapipe
python-dotenv
requests
SpeechRecognition
pyaudio
RealtimeSTT
Wave
librosa
ffmpeg-python
pydub
flask_sqlalchemy
flask_migrate
flask_cors
python-dotenv
cachetools
certifi
charset-normalizer
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
oauthlib
pip
proto-plus
protobuf
pyasn1
pyasn1-modules
pyparsing
requests-oauthlib
rsa
uritemplate
urllib3
flask_jwt_extended
pymongo
SpeechRecognition
pyaudio
pydub
pocketsphinx
numpy
ffmpeg
RealtimeSTT
torch
torchvision
transformers
accelerate
librosa
