flask
flask_sqlalchemy
flask_migrate
flask_cors
python-dotenv
cachetools
certifi
charset-normalizer
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
httplib2
idna
oauthlib
pip
proto-plus
protobuf
pyasn1
pyasn1-modules
pyparsing
requests
requests-oauthlib
rsa
uritemplate
urllib3
opencv-python
numpy
flask_jwt_extended
pymongo
SpeechRecognition
pyaudio
pydub
pydub-ffmpeg
pocketsphinx
numpy
ffmpeg
RealtimeSTT
torch==2.1.0 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.0 --index-url https://download.pytorch.org/whl/cpu
transformers==4.35.0
accelerate==0.23.0
